{% extends 'base.html'%}
{% load static %}


{% block titulo %}

{% endblock %}

{% block head %}
<style>
    $itemGrow: 1.2;
$duration: 250ms;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #000;
}

h1 {
  font-family: Arial;
  color: red;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3,100%);
  overflow:hidden;
  scroll-behavior: smooth;

  section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;

    .item {
      padding: 0 2px;
      transition: $duration all;

      &:hover {
        margin: 0 40px;
        transform: scale(1.2);
      }

    }

    a {
      position: absolute;
      color: #fff;
      text-decoration: none;
      font-size: 6em;
      background:rgb(0,0,0);
      width: 80px;
      padding: 20px;
      text-align: center;
      z-index: 1;

      &:nth-of-type(1) {
        top:0; bottom:0; left:0;
        background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
      }
      &:nth-of-type(2) {
        top:0; bottom:0; right: 0;
        background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
      }

    }

  }
}

// Remove the arrow for Mobile
@media only screen and (max-width: 600px) {
  a.arrow__btn {
    display:none;
  }
}
    .button-usual-conta{
            color: white;
            background-color:rgb(71, 33, 6);
            border-radius: 10px;
            width: 85px;
            height: 35px;
        }
        .button-usual-conta:hover{
            background-color: rgb(50, 20, 0);
        }
</style>
{% endblock %}

{% block content %}
<main>
    <section>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Ficha de Usuário</title>


        <div class="container mt-5 md:py-20">
            <div class="card p-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <!-- Avatar do Usuário -->
                            <div class="w-32 h-32 rounded-full mx-auto flex items-center justify-center">
                                <img src="{% static 'images/usuario.avif' %}" alt="Imagem do Usuário" class="w-full h-full object-contain rounded-full">
                            </div>

                        </div>
                        <div class="col-md-9">
                            <!-- Informações do Usuário -->
                            <div class="info-produto">
                                Nome: {{ user.username }}
                            </div>
                            <div class="info-produto">
                                Email: {{ user.email }}
                            </div>
                        </div>
                        <div class="col-md-12 mt-3">
                            <a href="{% url 'hmcontrol:editarperfil' user.pk %}" class="mr-3">
                                <button class="button-usual-conta">
                                    Editar Perfil
                                </button>
                            </a>
                            <a href="{% url 'hmcontrol:criarinstrumento' %}" class="mr-3">
                                <button class="button-usual-conta">
                                    Anunciar
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!--seção de Videos aceesados retirar e colcoar na template conta

        <section>
            {{ request.user.instrumentos_vistos.all }}
        </section>-->

    <section class='bg-primary_black flex justify-center py-10'>
            <div class="p-8 w-10/12 relative" >
                <h2 class="text-gray-200 text-2xl font-medium">
                    Historico de Acessos
                </h2>
                <div class="wrapper">
                  <section id="section1vistos" class="flex flex-nowrap items-center justify-center space-x-8">
                    <a href="#section2vistos" class="arrow__btn text-6xl page">‹</a>
                      {% for instrumentos in request.user.instrumentos_vistos.all %}
                      {% if forloop.counter < 5%}
                      <div class="item h-64 w-1/4 m-4">
                          <a href="{% url 'hmcontrol:detalhesproduto' instrumentos.id %}">
                            <img src="{{ instrumentos.thumb.url }}" class="rounded-md w-full h-full object-cover">
                          </a>
                      </div>
                      {% endif %}
                      {% endfor %}
                        <a href="#section2vistos" class="arrow__btn text-6xl">›</a>
                  </section>
                    {% if request.user.instrumentos_vistos.all|length > 4 %}
                    <section id="section2vistos" class="flex flex-nowrap items-center justify-center">
                        <a href="#section1vistos" class="arrow__btn text-6xl">‹</a>
                          {% for instrumentos in request.user.instrumentos_vistos.all %}
                          {% if forloop.counter > 5%}
                          <div class="item h-64 w-1/4 m-4">
                            <a href="{% url 'hmcontrol:detalhesproduto' instrumentos.id %}">
                                <img src="{{ instrumentos.thumb.url }}" class="rounded-md w-full h-full object-cover">
                             </a>
                          </div>
                          {% endif %}
                          {% endfor %}
                        <a href="#section1vistos" class="arrow__btn text-6xl">›</a>
                    </section>
                    {% endif %}
                </div>


            </div>
        </section>
        <section class='bg-primary_black flex justify-center py-10'>
        <div class="p-8 w-10/12 relative">
            <h2 class="text-gray-200 text-2xl font-medium">
                Seus Anuncios e Edição
            </h2>
            <div class="wrapper">
                <section id="section1anuncio" class="flex flex-nowrap items-center justify-center space-x-8">
                    <a href="#section2anuncio" class="arrow__btn text-6xl page">‹</a>
                    {% for instrumento in instrumentos_criados %}
                        {% if forloop.counter < 5 %}
                            <div class="item h-64 w-1/4 m-4">
                                <a href="{% url 'hmcontrol:detalhesproduto' instrumento.id %}">
                                    <img src="{{ instrumento.thumb.url }}" class="rounded-md w-full h-full object-cover">
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <a href="#section2anuncio" class="arrow__btn text-6xl">›</a>
                </section>
                {% if instrumentos_criados|length > 4 %}
                    <section id="section2anuncio" class="flex flex-nowrap items-center justify-center">
                        <a href="#section1anuncio" class="arrow__btn text-6xl">‹</a>
                        {% for instrumento in instrumentos_criados %}
                            {% if forloop.counter > 5 %}
                                <div class="item h-64 w-1/4 m-4">
                                    <a href="{% url 'hmcontrol:detalhesproduto' instrumento.id %}">
                                        <img src="{{ instrumento.thumb.url }}" class="rounded-md w-full h-full object-cover">
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <a href="#section1anuncio" class="arrow__btn text-6xl">›</a>
                    </section>
                {% endif %}
            </div>
        </div>
    </section>

</main>

<style>
    /* Ajuste de margem inferior para evitar a sobreposição com o rodapé */
    main {
        margin-bottom: 531px; /* Ajuste o valor conforme necessário */
    }
</style>

{% endblock %}
