{% extends 'base.html'%}


{% block titulo %}
Hire Music
{% endblock %}

{% block content %}

<div class="py-10 ">
      <h1>Pagina Produto: {{ object.titulo }}</h1>
    <img src="{{ object.thumb.url }}">
</div>
<main class="border-gray-600 border-b-8">
    <section class='bg-primary_black flex justify-center py-10'>
        <div class="p-8 w-10/12 relative">
            <h2 class="text-gray-200 text-3x1 font-medium">
                Descrição
            </h2>
            <div class="flex justify-left items-center min-w-full produto_lis">
                <p class="text-gray-100 text-lg">
                    {{ object.descricao }}
                    <br>
                    Visualizações: {{ object.visualizacoes }}
                </p>
            </div>
            <div>
                <p>
                    {{ object.numero_telefone }}
                </p>
            </div>
            <div>
              <a href="https://wa.me/{{ object.numero_telefone }}?text=Tenho%20interesse%20em%20comprar%20seu%20produto%20anunciado%20na%20HireMusic">
                  <button class="bg-green-600 text-white py-1 px-3 rounded-md">
                      Iniciar Conversa no WhatsApp
                  </button>
              </a>
            </div>
        </div>

    </section>

    <section class='bg-primary_black flex justify-center py-10'>
        <div class="p-8 w-10/12 relative">
            <h2 class="text-gray-200 text-2x1 font medium">
                Relacionados
            </h2>
            <div class="flex flex-wrap items-center min-w-full instrumentos_lis">
                {% for instrumentos in produtos_relacionados  %}
                <div class="m-4 bg-blue-500 overflow-hidden flex-shrink-0 rounded-md cursor-pointer h-64 w-96">
                    <a href="{% url 'hmcontrol:detalhesproduto' instrumentos.id %}">
                            <img src="{{ instrumentos.thumb.url }}" class="object-cover w-full h-full" alt="">
                    </a>

                </div>
                {% endfor %}
            </div>
        </div>
    </section>

</main>


{% endblock %}
