{% extends 'base.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
Hire Music
{% endblock %}

{% block content %}
<style>
    .button-faz-login{
        color: white;
        background-color:rgb(71, 33, 6);
        border-radius: 10px;
        width: 275px;
        height: 40px;
    }
    .button-faz-login:hover{
        background-color: rgb(50, 20, 0);
    }
</style>
 <header class="min-h-screen bg-black bg-opacity-75 bg-blend-overlay showcase border-gray-600 border-b-8 flex justify-center items-center bg-no-repeat"  style="background-image: url('{% static 'images/FundoTcc.jpg' %}');background-size: cover">
        <div class="z-10 h-full py-32 md:py-0 text-gray-100 text-center flex items-center flex-col">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Faça Login para Continuar</legend>
                {{ form|crispy }}
            </fieldset>
            <button class="button-faz-login" type="submit">Fazer Login</button></a>
        </form>
            </br>
        <small>
            Não tem um conta ainda? <p><a class="border-bottom mb-4" href="{% url 'hmcontrol:criarconta'%}">Criar Conta</a></p>
        </small>
    </div>

</header>
{% endblock %}