{% load static %}


<nav class="w-full flex justify-between items-center py-3 px-4 fixed z-50">
    <div class="6/12">
        <a href="/">
            <img class="w-2/12" src="{% static 'images/Logo.PNG' %}">
        </a>


    </div>

    <div class="6/12 flex flex-nowrap justify-end">
        <div class="mr-2">
            <form>
                <input type ="text" class="py-1 px-2 rounded-md text-black" placeholder="Pesquisar...">
            </form>
        </div>
        <div class="mr-2">
            <a href="login">
                <button Class="bg-red-600 text-white py-1 px-3 rounded-md">
                    Login
                </button>
            </a>
        </div>
        <div class="mr-2">
            <a href="#">
                <button Class="bg-red-600 text-white py-1 px-3 rounded-md">
                    Carrinho
                </button>
            </a>
        </div>

    </div>
</nav>