{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light rounded-lg w-full flex justify-between items-center py-0 px-4 fixed z-50 fixed-top">


    <!-- Ícone à esquerda -->
    <a class="navbar-brand" href="/">
        <div class="circle-image">
            <img class="w-5/12" src="{% static 'images/Logo.PNG' %}" alt="Página Inicial" style="display: block;">
        </div>
    </a>




    <div class="ml-auto d-flex align-items-center"> <!-- Isso empurra os elementos para a direita -->
        <!-- Caixa de pesquisa à direita -->
        <form class="form-inline" method="get" action="{% url 'hmcontrol:pesquisa' %}">
            <input type="text" class="py-1 px-2 rounded-md text-black" name="query" value="{{ request.GET.query }}" placeholder="Pesquisar...">
            <button class="btn btn-outline-success" type="submit">Pesquisar</button>
        </form>

        <!-- Espaço entre os elementos -->
        <div style="width: 20px;"></div>

        {% if user.is_authenticated %}
        <div class="mr-2">
            <a href="{% url 'hmcontrol:logout' %}">
                <button class="bg-red-600 text-white py-1 px-3 rounded-md">
                    Logout
                </button>
            </a>
        </div>

        <div class="mr-2">
            <a href="{% url 'hmcontrol:conta' user.pk %}">
                <button class="bg-red-600 text-white py-1 px-3 rounded-md">
                    Conta
                </button>
            </a>
        </div>
        {% else %}
        <div class="mr-2">
            <a href="{% url 'hmcontrol:login' %}">
                <button class="bg-red-600 text-white py-1 px-3 rounded-md">
                    Login
                </button>
            </a>
        </div>
        {% endif %}
    </div>
</nav>
